<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javier.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".Activitys.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.SenalesActivity"
            android:label="@string/menu_entry_2"
            android:parentActivityName=".Activitys.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.FrasesActivity"
            android:label="@string/menu_entry_1"
            android:parentActivityName=".Activitys.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.CategoriasActivity"
            android:label="@string/title_activity_categorias"
            android:parentActivityName=".Activitys.FrasesActivity" >
        </activity>
        <activity
            android:name=".Activitys.SiguienteActivity"
            android:label="@string/title_activity_siguiente"
            android:parentActivityName=".Activitys.CategoriasActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.CategoriasActivity" />
        </activity>
        <activity
            android:name=".Activitys.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
